<h1>{{pageTitle}}</h1>
<form class="example-container" [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
        <mat-label>Body</mat-label>
        <input matInput formControlName="body" />
      </mat-form-field>
  
   
    <div class="example-button-row">
      <button mat-button color="primary" type="submit" (click)="save()">Save</button>
      <button mat-button color="accent" type="button" [routerLink]="['/products']" (click)="cancel()" >Cancel</button>
    </div>
  </form>