<nav>
  <div class="left">
    <button
      mat-button
      [routerLink]="['/home']"
    >
      Home
    </button>
    <button
      mat-button
      [routerLink]="['/products']"
    >
      Product List
    </button>
    <button mat-button [routerLink]="['/products', 0, 'add']">
      Add Product
    </button>
  </div>
  <div class="right">
    <button mat-button *ngIf="authService.isLoggedIn()">
      Welcome {{ authService.currentUser.userName }}
    </button>
    <button mat-button>Show Messages</button>
    <button
      mat-button
      [routerLink]="['/login']"
      *ngIf="!authService.isLoggedIn()"
    >
      Log In
    </button>
    <button mat-button *ngIf="authService.isLoggedIn()" (click)="logOut()">
      Log Out
    </button>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
